@CHARSET "EUC-KR";

div{
	margin: 0 auto;
}

#headerBar {
	display: block;
	width: 95%;
	height: 5px;
	background-color: #f5f5f5;
}

#header{
	display: block;
	width: 95%;
	min-height: 25px;
	background-color: #fafafa;
	margin-bottom: 20px;
	padding: 5px;
	
	
}

#headerTitle{
	font-size: 20pt;
	padding-left: 10px;
}


