@CHARSET "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#chartdiv{
	position:relative;
	width: 70%; 
	height: 375px; 
	background-color: #FFFFFF;
	margin : 0 auto;
	z-index: 0;
}
