@CHARSET "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body *{
	font-family: '³ª´®°íµñ', 'Nanum Gothic', sans-serif;
}

img {
	 vertical-align: text-top;
}

#main{
	padding: 5px;
	
}

#condition, #heart, #stra_temperature{
	margin: 5px;
	margin-bottom: 20px;
}


#condition_title, #heart_title{
	font-size: 16pt;
	padding : 3px;
	margin-bottom: 10px;
	width: 90%;
}

#straTap{
	font-size: 16pt;
	padding-left: 3px;
	padding-bottom: 6px;
}


.stra{
	padding : 5px;
}

.stra_title{
	font-size: 14pt;
	padding-left : 10px;
	padding-bottom: 5px;
}


#condition_title_grade_detail, #heart_title_grade_detail{
	font-size: 10pt;
}


#condition_subtitle, #heart_subtitle{
	margin-left: 18px;
	
}


.stra_subtitle{
	margin-left:24px;
}